<div>
 <%= form_with(model:[book, book_comment], local: false) do |f| %>
   <%= f.text_area :comment,:size=>"85x5", placeholder: "コメントをここに",class:"mb-2" %>
     <p><%= f.submit "送信" %></p>
   <% end %>
</div>