<% if book_show.favorited_by?(current_user) %>
    <p>
      <%= link_to book_favorites_path(book_show.id), method: :delete do %>
        ♥<%= book_show.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to book_favorites_path(book_show.id), method: :post do %>
        ♡<%= book_show.favorites.count %>
      <% end %>
    </p>
  <% end %>