
<main>
  <div class="col-md-8 offset-md-1">

  <h2>Book detail</h2>
    <% @books.each do |book| %>
  <table class="table">
    <tbody>
  <tr>
  <td><%= book.book_name %></td>
  <td><%= book.opinion %></td>
  <td><%= link_to 'Edit', edit_book_path(book.id)%></td>
  <td><%=link_to 'Destroy',book_path(book.id), method: :delete, "data-confirm"=>"Are you sure?" %></td>
  </tr>

  </table>
<% end %>
</tbody>
</table>
</div>
</main>



